@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100&display=swap');

* {
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0;
    display: flex;
}

.conteudo {
    margin-left: 100px;
    transition: margin-left 0.3s ease, width 0.3s ease;
    padding: 20px;
    width: calc(100% - 200px);
}

.conteudo.open {
    margin-left: 250px;
    width: calc(100% - 250px);
}

.content-course {
    flex: 1;
    min-width: 0;
}

.register {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.content-professor {
    width: 100%;
    height: 110vh;
    background-color: #a8b6bf40;
    border-radius: 2%;
    display: flex;
    padding: 5px 10px 15px 20px;
    flex-direction: row;
    justify-content: center;
    gap: 14vw;
}

.content-personal-information, 
.content-course {
    max-width: 500px;
    width: 100%;
    margin: 0 10px;
}

.title-personal-information p {
    font-size: 24px;
    font-weight: bold;
    color: #072B59;
}

.form-label {
    font-size: 16px !important;
    font-weight: bold;
    color: #072B59;
}

.content-professor span {
    color: red;
}

.form-control {
    width: 25vw !important;
}

.form-select {
    width: 20vw !important;
}

.button button {
    background-color: #072B59 !important;
    border: none;
    font-weight: bold;
    display: flex !important;
    flex-direction: row-reverse !important;
    margin-left: auto;
    position: relative;
    bottom: 2vh;
}

.button button:hover {
    background-color: #8c959a99 !important;
    color: #072B59;
}

.title-course p {
    font-size: 24px;
    font-weight: bold;
    color: #072B59;
}

.photo-professor img {
    align-items: center;
    flex-direction: column;
    width: 18vw;
    height: 36vh;
    object-fit: cover; /* Corta a imagem para preencher o espaço sem distorção */
    border-radius: 5%;
}


.photo-professor {
    width: 20vw; /* Define um tamanho fixo para a moldura */
    height: 36vh; /* Define um tamanho fixo para a moldura */
}


#uploadButton{
    width: 5vw;
    background-color: #4CAF50;
    color: white;
    font-weight: bolder;
    border-color: #4CAF50;
    height: 6vh;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #072B59;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 18vw;
}

#uploadButton:hover {
    background-color: #025706;
}

.file-upload-container {
    display: flex; /* Usar Flexbox */
    gap: 10px; /* Espaço entre os botões */
    align-items: center; /* Alinhar verticalmente ao centro */
}

.photo-professor h5 {
    font-size: 17px;
    font-weight: bold;
    color: #072B59;
}

.photo-professor p {
    font-size: 14px;
    color: #072B59;
}

.photo-professor {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.professor-information {
    position: relative;
    top: 1vh;
    white-space: nowrap;
}

.buttons-professor {
    display: flex;
    justify-content: space-between;
}

.buttons-professor button {
    background-color: #a8b6bf40 !important;
    border: none;
    font-weight: bold;
    color: #072B59;
}

.line {
    border: 1px solid #072B59;
    width: 100%;
}

.horario {
    display: flex;
    gap: 6rem;
    align-items: flex-start;
}

#horario {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.buttons {
    display: flex !important;
    flex-direction: row !important;
    gap: 1rem;
    position: relative;
}

@media only screen and (max-device-width: 430px) {

    .dropdown-btn {
        font-size: 10px;
        color: rgba(255, 255, 255, 0);
    }

    .dropdown-container a {
        font-size: 10px;
    }


    .sidebar {
        width: 15vw;
    }

    .sidebar.active .nav-links li span {
        display: none;
    }

    #toggle-btn {
        display: none;
    }

    .buttons-professor {
        display: flex;
        flex-direction: column;
    }

    .buttons-professor button {
        width: 22vw;
    }

    .photo-professor {
        display: flex;
        flex-direction: column;
        align-items: unset;
    }

    .content-professor {
        display: flex;
        flex-direction: column;
        height: 183vh;
        justify-content: right;
    }

    .form-control {
        width: 50vw !important;
    }

    .form-select {
        width: 50vw !important;
    }

    .buttons {
        display: grid !important;
        left: 0;
        justify-content: start;
        justify-items: start;
    }

    .horario {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }


}