@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100&display=swap');

* {
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0;
    display: flex;
}

.conteudo {
    margin-left: 100px; /* Valor inicial quando o menu está fechado */
    transition: margin-left 0.3s ease, width 0.3s ease;
    padding: 20px;
    width: calc(100% - 200px);
}

.conteudo.open {
    margin-left: 250px; /* Valor quando o menu está aberto */
    width: calc(100% - 250px); /* Ajusta a largura para que o conteúdo não seja coberto */
}

.register {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.content-professor {
    gap: 20vw;
    width: 100%;
    height: 110vh;
    background-color: #a8b6bf40;
    border-radius: 2%;
    display: flex;
    padding: 5px 10px 15px 20px;
}

.content-course{
    display: flex;
    flex-direction: column;
}

.horario {
    gap: 5vw;
}

.title-personal-information p {
    font-size: 24px;
    font-weight: bold;
    color: #072B59;
}

.form-label {
    font-size: 16px !important;
    font-weight: bold;
    color: #072B59;
}

.content-professor span {
    color: red;
}

.form-control {
    width: 35vw !important;
}

.form-select {
    width: 20vw !important;
}

.button button {
    background-color: #072B59 !important;
    border: none;
    font-weight: bold;
    position: relative;
    bottom: 6vh;
}

.button button:hover {
    background-color: #8c959a99 !important;
    color: #072B59;
}

.title-course p {
    font-size: 24px;
    font-weight: bold;
    color: #072B59;
}

.photo-professor img {
    align-items: center;
    flex-direction: column;
    width: 18vw;
    border-radius: 5%;
}

.photo-professor h5 {
    font-size: 17px;
    font-weight: bold;
    color: #072B59;
}

.photo-professor p {
    font-size: 14px;
    color: #072B59;
}

.photo-professor {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.professor-information {
    top: 2vh;
    position: relative;
}

.buttons-professor {
    display: flex;
    justify-content: space-between;
}

.buttons-professor button {
    background-color: #a8b6bf40 !important;
    border: none;
    font-weight: bold;
    color: #072B59;
}

.line {
    border: 1px solid #072B59;
    width: 100%;
}



@media only screen and (max-device-width: 430px) {

    .dropdown-btn{
        font-size: 10px;
        color: rgba(255, 255, 255, 0);  
    }

    .dropdown-container a{
        font-size: 10px;
    }


    .sidebar {
        width: 15vw;
    }

    .sidebar.active .nav-links li span {
        display: none;
    }

    #toggle-btn {
        display: none;
    }

    .photo-professor{
        display: flex;
        flex-direction: column;
        align-items: unset;
    }
    
    .content-professor{
        display: flex;
        flex-direction: column;
        height: 120vh;
    }

    .button button{
        position: relative;
        right: 31vw;
        bottom: 20vh;
    }

    .form-control{
        width: 50vw !important;
    }

    .form-select{
        width: 50vw !important;
    }

    #botaoCadastro{
        position: relative;
        top: -19vh;
    }
}
.input-error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}
