@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100&display=swap');

* {
    font-family: "DM Sans", sans-serif;
}

body {
    margin: 0;
    display: flex;
}

.spaces-professor {
    width: 100%;
    display: inline-block;
    font-size: 25px;
    color: #072B59;
}

.conteudo {
    margin-left: 100px;
    /* Valor inicial quando o menu está fechado */
    transition: margin-left 0.3s ease, width 0.3s ease;
    padding: 20px;
    width: calc(100% - 200px);
}

.conteudo.open {
    margin-left: 250px;
    /* Valor quando o menu está aberto */
    width: calc(100% - 250px);
    /* Ajusta a largura para que o conteúdo não seja coberto */
}

.buttons-professor {
    display: flex;
    justify-content: space-around;
}

.buttons-professor button {
    background-color: #a8b6bf40 !important;
    border: none;
    font-weight: bold;
    color: #072B59;
}

.conteudo p {
    font-weight: bold;
}

.box {
    width: 22vw;
    height: 25vh;
    border: 1px solid rgba(7, 43, 89, 0.685);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content p {
    line-height: 0.8;
}

.kpis {
    width: 100%;
    display: flex;
    margin-top: 7vh;
    position: relative;
    justify-content: space-between;
}

.content-kpis {
    display: flex;
    flex-direction: column;
}

.content-kpis h2 {
    font-size: 80px;
    position: relative;
    top: 1.5vh;
}

.content-kpis h2 span {
    font-size: 20px;
}

.content-kpis p {
    position: relative;
    font-size: 20px;
    top: 1.5vh;
}

.line-box {
    border: 4px solid #072B59;
    height: 16vh;
    border-radius: 10px;
    position: relative;
}

.box-kpis-admin {
    width: 20vw;
    height: 23vh;
    border: 1px solid #072B59;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

.seta {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid black;
    position: relative;
    right: 1.5vw;
}

.variação {
    display: flex;
    align-items: center;
    gap: 1px;
}

.porcentagem p {
    position: relative;
    top: 0vh;
    right: 0.5vw;
}

#seta-baixo {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid green;
    position: relative;
    right: 1.5vw;
    bottom: 1vh;
}

.seta-baixo {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid red;
    position: relative;
    right: 1.5vw;
    bottom: 1vh;
}

.seta-cima {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid green;
    position: relative;
    right: 1.5vw;
    bottom: 1vh;
}

.bom {
    color: green;
}

.ruim {
    color: red;
}

.box-chart-admin {
    display: flex;
    position: relative;
    flex-direction: column;
}

#myChartMeta {
    width: 50vw !important;
    height: 60vh !important;
    align-self: center;
}

.data h2 {
    font-size: 60px;
}

.data p {
    font-size: 20px;
}

.conteudo .title-agendamento {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#kpis {
    gap: 8rem;
}

.box-chart2 {
    width: 60%;
    height: 60vh;
    border: 1px solid #072B59;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888;
    display: flex;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.box-chart2,
.box-kpis-admin {
    transition: all 0.3s ease;
}

.box-chart2.reduzido {
    width: 60%;
    height: 60vh;
}

.box-kpis-admin.reduzido {
    width: 80%;
    height: 22vh;
    margin-right: 1vw;

}

.box-buttons {
    display: flex;
    gap: 1rem;
    position: relative;
    height: 5vh;
    justify-content: center;
    top: 5vh;
}

#botaoChart {
    background-color: rgba(52, 209, 191, 1) !important;
    font-weight: bold;
    font-size: 15px;
    border: none;
}

#botaoChartN {
    background-color: rgba(7, 43, 89, 1) !important;
    font-weight: bold;
    font-size: 15px;
    border: none;
    width: 10vw;
}

#title-chart-admin {
    font-weight: bold;
    color: #072B59;
    position: relative;
    font-size: 20px;
    top: 2vh;
}

.title-title {
    font-weight: bolder;
    color: #072B59;
}

.line {
    border: 1px solid #072B59;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.hidden {
    display: none;
}

.select-professor {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    color: #072B59;
    font-size: 20px;
}

.select-professor select {
    width: 26.5vw;
    height: 5vh;
    color: #072B59;
    border-radius: 5px;
    border: 1px solid #072B59;
}

#professores {
    font-size: 20px;
    font-weight: bolder;
}

.kpis-metas {
    display: flex;
    gap: 5rem;
    flex-direction: column;
}

.box-kpis-metas {
    width: 20vw;
    height: 23vh;
    background-color: #072B59;
    border: 1px solid #072B59;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}

.line-box-metas {
    border: 4px solid white;
    height: 16vh;
    border-radius: 10px;
    position: relative;
}

.filtro-graph {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form-filtro-graph {
    font-weight: bold;
    color: #072B59;
}

/* Estilo para o // select */
.form-select-graph {
    border: 2px solid #072B59;
    border-radius: 5px;
    color: #072B59;
    font-weight: bolder;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.form-select-graph option {
    color: #072B59;
    font-weight: bolder;
}

.button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .custom-button i {
    margin-right: 5px;
  }

  .custom-button {
    background-color: #072B59;
    color: white;
    border: 2px solid #072B59;
    border-radius: 5px;
    padding: 2px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .custom-button:hover {
    background-color: rgba(128, 128, 128, 0.466);
    border:  2px solid rgba(128, 128, 128, 0.466);
    color: black;
    font-weight: bolder;
  }    

  .flatpickr-current-month{
    color: #072B59 !important;
    font-weight: bolder;
  }

  .flatpickr-next-month, .flatpickr-prev-month {
    color: #072B59 !important;
  }

  .flatpickr-next-month:hover, .flatpickr-prev-month:hover svg {
    fill: #072B59 !important;
}

  .flatpickr-current-month input.cur-year{
    color: #072B59 !important;
    font-weight: bolder;
  }

  .flatpickr-monthSelect-month{
    color: #072B59 !important;
    font-weight: bolder;
  }

  .flatpickr-monthSelect-month.selected{
    border: #a8b6bf40 !important;
    background-color: #a8b6bf40 !important;
    color: #072B59 !important;
    font-weight: bolder;
  }

  .info-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: 8px; /* Espaço entre o texto e o ícone */
    background-color: #072B59; /* Azul */
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 12px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 16px;
    position: relative;
    bottom: 0.3vh;
}

.info-icon:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 7vh;
    left: -4.5vw;
    transform: translateX(-50%);
    background:#072B59;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 10;
    opacity: 1;
}


@media only screen and (max-device-width: 430px) {

    .dropdown-btn {
        font-size: 10px;
        color: rgba(255, 255, 255, 0);
    }

    .dropdown-container a {
        font-size: 10px;
    }


    .sidebar {
        width: 15vw;
    }

    .sidebar.active .nav-links li span {
        display: none;
    }

    #toggle-btn {
        display: none;
    }

    .buttons-professor {
        display: flex;
        flex-direction: column;
    }

    .buttons-professor button {
        width: 22vw;
    }

    .buttons-professor p {
        display: none;
    }

    .agendamentos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: unset;
        gap: 5vh;
    }

    .box {
        width: 60vw;
        height: 20vh;
        gap: 45px;
    }

    .content p {
        line-height: 1.6;
    }

    .box-kpis-admin {
        width: 60vw;
        height: 20vh;
        gap: 1rem;
    }

    .kpis {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .kpis2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        top: 5vh;
    }

    .box-chart {
        width: 60vw;
        height: 40vh;
    }

    #botaoChartN {
        width: 60vw;
    }

    .box-chart2 {
        width: 68vw;
        height: 30vh;
        padding: 0;
        position: relative;
        right: 4vw;
    }

    .none {
        display: none;
    }

    .conteudo .title-agendamento {
        right: 11vw;
        position: relative;
    }

    #kpi {
        right: 18vw;
        position: relative;
    }

    .content-kpis p {
        position: relative;
        top: 0.5vh;
    }

    .variação {
        gap: 1vw;
    }

    #seta-baixo {
        position: relative;
        right: 5.5vw;
    }

    .seta-baixo {
        position: relative;
        right: 5.5vw;
    }

    .seta-cima {
        position: relative;
        right: 5.5vw;
    }


    .line {
        width: 90%;
        position: relative;
        right: 4vw;
    }

    .line2 {
        width: 90%;
        position: relative;
        right: 4vw;
    }
}