* {
  font-family: "DM Sans", sans-serif;
}

html {
  --header-color: #F20505;
  --header-button: #92a1d1;
  --color-weekdays: #000000;
  --box-shadow: #CBD4C2;
  --hover: #cdcdcdbb;
  --current-day: #072b5945;
  --event-color: #072B59;
  --modal-event: #ffffff;
  --color-day: white;
}

.conteudo {
  margin-left: 80px;
  transition: margin-left 0.3s ease, width 0.3s ease;
  padding: 20px;
  width: calc(100% - 200px);
}

.conteudo.open {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.calendario {
  height: 95%;
  width: auto;
  display: flex;
  margin-top: 50px; /* Aqui ajusta o calendario para descer mais */
  justify-content: center;
  padding: 20px; /* Aumentar o padding para uma aparência mais espaçada */
  text-align: left;
  border-radius: 50px;
  border: 1px solid rgb(255, 255, 255) !important;
}


#calendar-container {
  width: 80%;
  background-color: #072B59;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-items: center;
  margin: 0 auto;
}


.meses img {
  width: 50px;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.meses {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: white;
}

#header {
  padding: 10px;
  color: var(--header-color);
  font-size: 26px;
  display: flex;
}

#header button {
  background-color: var(--header-button);
}

#container {
  width: 900px; /* Aumenta o contêiner para se adequar à largura */
}

#weekdays {
  width: 100%;
  display: flex;
  justify-content: space-around; /* Centraliza os dias da semana */
  color: var(--color-weekdays);
  font-weight: 600;
}

#weekdays div {
  flex: 1;
  text-align: center; /* Centraliza o texto dentro de cada div */
  padding: 10px;
  color: white;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: calc(100% / 7 - 10px);
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--color-day);
  margin: 5px;
  box-shadow: 0px 0px 3px var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5%;
  font-weight: 600;
}

.day:hover {
  background-color: var(--hover);
}

#currentDay {
  color: #072B59; /* Cor do texto */
  font-weight: 700; /* Peso do texto */
  background-color: rgba(128, 128, 128, 0.466); /* Fundo do número do dia atual */
  border-radius: 50%; /* Arredondar a borda */
  width: 30px; /* Largura do círculo */
  height: 30px; /* Altura do círculo (para que seja um círculo perfeito) */
  display: flex; /* Centraliza o conteúdo dentro do círculo */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  transform: translateX(-6px); /* Ajuste a quantidade para mover para a esquerda */
  transform: translateY(-3px);
}



.event {
  font-size: 10px;
  padding: 3px;
  background-color: var(--event-color);
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.padding {
  cursor: default !important;
  background-color: var(--body-color) !important;
  box-shadow: none !important;
}

.titulo-format-modal {
  color: #072B59;
  font-size: 26px;
  font-weight: bolder;
}

.campo-format {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

#newEventModal, #deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: var(--modal-event);
  border-radius: 8px;
  width: 35vw; /* Largura do modal */
  position: fixed; /* Permite que ele fique fixo na tela */
  top: 50%; /* Posiciona o topo do modal no meio da tela */
  left: 50%; /* Posiciona a esquerda do modal no meio da tela */
  transform: translate(-50%, -50%); /* Move o modal para cima e para a esquerda para centralizá-lo */
  box-sizing: border-box;
}

#professor-select{
  width: 30vw;
  font-size: 18px;
}

#professor-select option{
  font-size: 18px;
}

#newEventModal.show, #deleteEventModal.show {
  display: block;
}

.status {
  top: -10;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  width: 30vw;
}

.status.pendente {
  background-color: #ffcc00;
}

.status.confirmado {
  background-color: #28a745;
}

.status.concluido {
  background-color: #007bff;
}

.status.cancelado {
  background-color: #dc3545;
}

.horarios-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 500px;
}

.time-button {
  border-radius: 6px;
  border: 2px solid #072B59;
  background-color: white;
  color: #072B59;
  padding: 10px 10px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  margin-bottom: 2%;
  width: 14.9vw;
}

.time-button.selected {
  border-radius: 6px;
  border: 2px solid #ffffff;
  background-color: #072B59;
  color: white;
}

.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #072B59;
  background-color: white;
  color: #072B59;
  font-size: 18px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #072B59;
}

.modal-close:hover {
  color: #F20505;/
}

#dateInput, #deleteDateInput, #deleteProfessorInput, #deleteTimeInput, #eventText {
  width: 30vw;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #ffffff;
  background-color: #072B59;
  color: white;
  cursor: not-allowed;
  font-size: 18px;
}

#cancelar-button, #deletar-button {
  background-color: var(--header-color);
}

#agendar-button, #fechar-button {
  background-color: var(--header-button);
}

#modalBackDrop {
  display: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

#agendar-button, #cancelar-button, #deletar-button, #fechar-button {
  border-radius: 6px;
  border: 2px solid #072B59;
  background-color: white;
  color: #072B59;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

#agendar-button {
  background-color: #072B59;
  color: white;
  font-weight: bolder;
}

#agendar-button:hover {
  background-color: #041d3e;
  color: white;
}


#cancelar-button, #deletar-button {
  background-color: #830f0f;
  color: white;
  font-weight: bolder;
  border: 2px solid #830f0f;
  margin-left: 0;
}

#fechar-button{
  background-color: #072B59 !important;
  color: white;
  font-weight: bolder;
}

.button-container {
  display: flex;
  margin-top: 20px; /* Ajuste opcional para posicionamento vertical */
}
  /* #cancelar-button:hover {
    background-color: #ff0000;
    color: white;
  } */


#backButton, #nextButton {
  fill: white;
  cursor: pointer;
}

#backButton, #nextButton {
  filter: brightness(0) invert(1);
}
